.login{
    width: 20rem;
    margin: auto;
}

.light-link{
    text-decoration: none;
    margin-left: 2rem;
    color: #7b7b7b
}

.login-button{
    display: block;
    width: 100%;
}

.test{
    border: none;
    border: 1px solid var(--primary);
    border-radius: .2rem;
    cursor: pointer;
    margin-left: 1rem;
    background-color: var(--secondary);
    padding: .2rem 1rem;
}