.cart{
    display: flex;
    padding-bottom: 2.5rem;
}

.cart .cart-list{
    width: 70%;
}

.cart .bill{
}

.cart .cart-item{
    display: flex;
    flex-direction: row;
    padding: 1rem;
}

.cart .cart-item img{
    width: 200px;
    margin-right: 5rem;
}

.cart .price{
    text-decoration: line-through;
    color: lightgray;
}