.product-listing{
    text-align: center;
}

.product-listing .product-container{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}

.product-listing .flex-container-1{
    display: flex;
    text-align: left;
}

.product-listing .clear-button{
    border: none;
    background: none;
    cursor:pointer;

}

.product-listing .filter-heading{
    display: inline-block;
    margin-right: 2rem;
}

.product-listing .filters{
    min-width: 150px;
}