:root {
    --primary: #27374D;
    --secondary: #f5f5f5;
    --grey: #9DB2BF;
}

html {
    scrollbar-gutter: stable;
}

body {
    scrollbar-gutter: stable both-edges;
}

.App {
    position: relative;
    min-height: 100vh;
    color: var(--primary);
    font-family: "Source Sans Pro", sans-serif;
}

ul {
    list-style: none;
    padding: 0;
}

/* links */
.heading-link {
    color: var(--primary);
    text-decoration: none;
    font-weight: normal;
    font-size: x-large;
}

.heading-link:hover,
.text-link:hover {
    color: rgb(105, 103, 103);
}

.text-link {
    color: var(--primary);
    text-decoration: none;
}

.basic-link {
    color: var(--primary);
}

/* button */

.button {
    background-color: var(--primary);
    color: var(--secondary);
    padding: 0.5rem 1rem;
    border: 1px solid;
    border-radius: 0.2rem;
    font-size: larger;
    cursor: pointer;
}

.show-button {
    margin-top: 0.2rem;
    border: none;
    border: 1px solid var(--primary);
    border-radius: 0.2rem;
    padding: 0.2rem;
    background-color: var(--secondary);
}

/* inputs */
.input-field {
    box-sizing: border-box;
    margin: 1rem 1rem 0 0;
    padding: 0.5rem;
    width: 15rem;
    width: 100%;
}
